# Ignore everything in .idea
.idea

*.mo
*.pyo
*.pyc
.sass-cache/
yarn-error.log
node_modules/
venv/
.cache/

.data/

ask_taltech_student/django.env
ask_taltech_student/settings/local.py
ask_taltech_student/settings/local_test.py
ask_taltech_student/db.sqlite3
ask_taltech_student/assets/

ask_taltech_student/.cache
ask_taltech_student/.pytest_cache
ask_taltech_student/.coverage
ask_taltech_student/coverage
ask_taltech_student/cover/

# Node Project files
app/build/
app/coverage/

# Django env
ask_taltech_student/django.env

ask_taltech_student/docs/_build
