# Ignore everything in .idea
.idea

*.mo
*.pyo
*.pyc
.sass-cache/
yarn-error.log
node_modules/
venv/
.cache/

.data/

mis_comidas/django.env
mis_comidas/settings/local.py
mis_comidas/settings/local_test.py
mis_comidas/db.sqlite3
mis_comidas/assets/

mis_comidas/.cache
mis_comidas/.pytest_cache
mis_comidas/.coverage
mis_comidas/coverage
mis_comidas/cover/

# Node Project files
app/build/
app/coverage/

# Django env
mis_comidas/django.env

mis_comidas/docs/_build
